@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 45%;
    flex-direction: column;
    margin: 150px auto;
    background-color: rgb(234, 245, 255);
    font-family: 'Karla', sans-serif;
}

.section-1 {
    background-color: hsl(0, 0%, 100%);
    padding: 35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.section-1 h1 {
    font-size: 1.3em;
    color: hsl(179, 62%, 43%);
    margin-bottom: 20px;
}

.section-1 #first-line {

    font-size: 1em;
    font-weight: 700;
    color: hsl(71, 73%, 54%);
    margin-bottom: 15px;
    animation: appear-disappear 3s infinite;
}

@keyframes appear-disappear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section-1 #second-line {
    font-size: 0.9em;
    line-height: 22px;
    color: hsl(218, 22%, 67%);
}

.section-2 {
    display: flex;
    width: 100%;

}

.monthly-sub {
    width: 50%;
    background-color: hsl(179, 62%, 43%);
    padding: 35px;
    color: hsl(0, 0%, 100%);
    border-bottom-left-radius: 10px;
}

.monthly-sub h2 {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 10px;
}

.monthly-sub-first-line {
    display: flex;
    align-items: center;
}

.monthly-sub #dollar {
    font-size: 1.8em;
    font-weight: 700;
    padding-right: 6px;
}

.monthly-sub #dollar-side-txt {
    color: hsl(217, 43%, 87%);
}

.monthly-sub :nth-child(2) {
    padding: 4px;
}

.monthly-sub p {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 22px;
}

.sign-up-btn {
    margin-top: 20px;
    width: 100%;
    padding: 14px;
    border: hsl(71, 73%, 54%) solid 0;
    border-radius: 6px;
    background-color: hsl(71, 73%, 54%);
    box-sizing: border-box;
    color: hsl(0, 0%, 100%);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

.sign-up-btn:hover{
    animation: shake 0.3s;
    cursor: pointer;
}

.why-us {
    width: 50%;
    background-color: #4abab9;
    padding: 35px;
    color: hsl(0, 0%, 100%);
    border-bottom-right-radius: 10px;
}

.why-us h2 {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 15px;
}

.why-us ul {
    font-size: 0.8em;
    font-weight: 400;
    padding-right: 30px;
    list-style: none;
    line-height: 17px;
}

footer {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    font-size: smaller;
}

footer a {
    text-decoration: none;
}

/* Responsive Design */

@media (max-width: 915px) {
    body {
        width: 80%;
    }

    .section-2 {
        flex-direction: column;
    }

    .monthly-sub {
        width: 100%;
        height: auto;
        flex-direction: column;
        border-bottom-left-radius: 0px;
    }

    .why-us {
        width: 100%;
        height: auto;
        border-bottom-left-radius: 10px;
    }
}